/* IMPORTING THE FONT */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

html,
body {
  overflow: hidden;
}

/* THE SPECIAL BACKGROUND IMAGE FOR THE OCCASION */
body {
  background-image: url("./images/valentine.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  margin: 0;

  /* FONTS */
  font-family: "Rubik", serif;
  font-weight: normal;
  font-style: normal;
  color: #4b2c2f;
}

/* HERO TEXT */
.hero-text {
  margin-top: 20em;
  margin-left: 2em;
}

.hero-text h1 {
  font-size: 4rem;
}

.hero-paragraph {
  width: 30%;
  font-style: italic;
}

/* COUNTDOWN SECTION */
.countdown {
  margin-left: 2em;
  margin-top: 5em;
}

.countdown-timer {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: left;
  background-color: #fff;
  border-radius: 10px;
}

/* BUTTON FOR POEM DISPLAY */
.countdown-timer button {
  background-color: red;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
    transform 0.2s ease-in-out,
    background-color 0.3s;
  animation: pulse 1.5s infinite alternate ease-in-out;
}

.countdown-timer button:hover {
  background-color: darkred;
  transform: scale(1.1);
}
/* ZOOM EFFECT FOR THE BUTTON */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

/* MEDIA QUERIES FOR DIFFERENT SCREEN SIZES */
/* REALLY SMALL SCREENS */
@media (max-width: 320px) {
  .hero-text {
    margin-top: 5em;
    margin-right: 2em;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-paragraph {
    width: 50%;
  }

  .countdown {
    margin-top: 2em;
    margin-right: 2em;
  }

  .countdown-timer {
    width: 100%;
    padding-left: 1em;
  }
}

/* SMALL SCREENS */
@media (min-width: 320px) and (max-width: 400px) {
  .hero-text {
    margin-top: 5em;
    margin-right: 2em;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-paragraph {
    width: 60%;
  }

  .countdown {
    margin-top: 3em;
    margin-right: 2em;
  }

  .countdown-timer {
    width: 100%;
    padding-left: 1em;
  }
}

/* LARGER SCREENS */
@media (min-width: 400px) and (max-width: 650px) {
  .hero-text {
    margin-top: 8em;
    margin-right: 2em;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-paragraph {
    width: 60%;
  }

  .countdown {
    margin-top: 3em;
    margin-right: 2em;
  }

  .countdown-timer {
    width: 100%;
    padding-left: 1em;
  }
}
